.ant-layout-sider-trigger {
  background-color: var(--primaryK) !important;
  color: white !important;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile img {
  height: 100%;
  width: 100%; 
  border-radius: 50%;
  object-fit: cover;
}
.ant-layout-header {
line-height: 0px !important;
}

.dashboard-head{
  font: 24px right;
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #72d3d33d !important;
}
.ant-menu-item-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: #72D3D3 !important;
    font-weight: 500 !important;
}

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
    border-right: 3px solid #72D3D3 !important;
}

.ant-menu-light .ant-menu-item:hover{
    color: #72D3D3 !important;
}

.ant-form-item-label>label{
  font-weight: 600 !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #72D3D3 !important;
}

.ant-radio-inner:after {
  background-color: #72D3D3 !important;
}

.consultation-drop .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: white !important;
}

.consultation-drop .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  padding-top: 0px !important;
}


.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  text-align: left;
  background-color: #F3F3F3 !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  height: 50px !important;
}

.d-welcome{
  font: 18px poppins;
  color: var(--primaryK);
  font-weight: 700;
}

.consultations .table thead{
  background:var(--primaryK);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px !important;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.consultations .table thead th {
  border-top: 0px;
  border-bottom: 0px;
}
.consultations .table{
  margin-bottom: 0px !important;
  border-collapse: separate;
  border-spacing:0 10px;
}

.consultations .table tbody tr{
  background: #FFFFFF !important;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15) !important;
  border-radius: 7px !important;
  padding: 10px 15px !important;
  margin-bottom: 20px !important;
  text-align: center;
}


/* Reports */

.add-card{
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.add-card input{
  text-align: center;
  height: 50px;
}