:root {
  --primaryK: #72d3d3;
  --secondaryK: #bb5c7c;
  --blackK: #151515;
  --blueK: #0d8dd2;
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.text-blue {
  color: var(--blueK);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--secondaryK), var(--blueK));
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(var(--blueK), var(--secondaryK));
}

*:focus {
  outline: #72d3d3;
}
body {
  background-color: #9bd9d9 !important;
}
textarea {
  resize: none !important;
}
.bg-sea {
  background-color: #9bd9d9 !important;
}
.bg-pink {
  background-color: var(--secondaryK) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px !important;
}
::placeholder {
  font: 14px poppins;
  color: #808080;
}
a {
  color: var(--blackK) !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--primaryK) !important;
  /* text-decoration: underline !important; */
}

/* adding fonts */
@font-face {
  font-family: "poppins";
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppinsSb";
  src: url(assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppinsB";
  src: url(assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppinsMd";
  src: url(assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "mainF";
  src: url(assets/fonts/BELLABOO-Regular.ttf);
}
@font-face {
  font-family: "right";
  src: url(assets/fonts/Righteous-Regular.ttf);
}
@font-face {
  font-family: "million";
  src: url(assets/fonts/Millions\ Journey\ Script\ Demo.ttf);
}

.form-control {
  height: 50px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 5px;
}

textarea:hover,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

textarea:hover,
textarea:active,
textarea:focus {
  outline: 1px solid var(--blueK) !important;
  -webkit-appearance: none !important;
}
input:hover,
input:active,
input:focus {
  outline: 1px solid var(--blueK);
  -webkit-appearance: none;
}

.form-control:focus {
  border-color: var(--primaryK) !important;
  box-shadow: 0 0 0 0.2rem var(--primaryK);
}

.btn-primary {
  background-color: var(--primaryK);
  border-radius: 5px;
  font: 16px right;
  color: white;
  border: 2px solid var(--primaryK) !important;
  height: 42px;
}
.btn-primary:hover {
  background-color: white;
  border: 2px solid var(--primaryK) !important;
  color: var(--primaryK);
}

.btn-send {
  background-color: var(--primaryK);
  border-radius: 5px;
  font: 16px right;
  color: white;
  border: 2px solid var(--primaryK) !important;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-send:hover {
  background-color: white;
  border: 2px solid var(--primaryK) !important;
  color: var(--primaryK);
}

.btn-secondary {
  background-color: var(--secondaryK);
  border-radius: 5px;
  font: 24px right;
  color: white;
  border: none !important;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-secondary:hover {
  background-color: white;
  border: 2px solid var(--secondaryK) !important;
  color: var(--secondaryK);
}

.btn-blue {
  background-color: var(--blueK);
  border-radius: 5px;
  font: 24px right;
  color: white;
  border: none !important;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-blue:hover {
  background-color: white;
  border: 2px solid var(--blueK) !important;
  color: var(--blueK);
}

.btn-golden {
  background-color: #f5a343;
  border-radius: 5px;
  font: 24px right;
  color: white;
  border: none !important;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-golden:hover {
  background-color: white;
  border: 2px solid #f5a343 !important;
  color: #f5a343;
}

.btn-chat {
  background-color: var(--secondaryK);
  border-radius: 0px 20px 0px 20px;
  font: 12px poppinsMd;
  color: white;
  border: none !important;
  height: 32px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
}
.btn-chat:hover {
  background-color: white;
  border: 2px solid var(--secondaryK) !important;
  color: var(--secondaryK);
}

label {
  font-weight: 700;
}

.btn-primary-outline {
  background-color: transparent;
  border-radius: 5px;
  font: 16px right;
  color: var(--primaryK);
  border: 2px solid var(--primaryK) !important;
  height: 42px;
}
.btn-primary-outline:hover {
  background-color: var(--primaryK);
  border: 2px solid var(--primaryK) !important;
  color: white;
}
